.svn
*.bak
*.tmp
tmp
log
uploads
tp
public/blank.html
public/images/active_scaffold
public/javascripts/active_scaffold
public/stylesheets/active_scaffold
.DS_Store
.bundle
*.csv
*.sql
.delme
.rvmrc
*.dump
config/database.yml
