<form action="" onsubmit="return false" style='border-bottom:1px solid #000'>
<div class="row">
<input id="ingredient_name" name="ingredient_name" id="ingredient_name" value="Enter Ingredient Name..." onclick="if(this.hasClassName('faint')) {this.removeClassName('faint');this.value = '';}" onkeypress="onclick()" class="faint" size="30" type="text" /><div class="auto_complete" id="ingredient_name_auto_complete"/></div>
</div>
</form>

<script type="text/javascript">
//<![CDATA[
var ingredient_name_auto_completer = new Ajax.Autocompleter('ingredient_name',
			'ingredient_name_auto_complete',
			'/ingredients/auto_complete_for_ingredient_name', {afterUpdateElement: ingredientChanged})
//]]>
function ingredientChanged(x, y) {
	id = y.id.match(/\d+/, '');
	window.open("<%= ingredients_path %>/" + id, "_self");
}
$('ingredient_name').focus();
</script>
