<br clear="all"/>
<br />
<div id="footer" class="curved_top">
<div class="wrapper">
</div><!-- wrapper -->
<div id="version">version: 1.0.0</div>
</div><!-- footer -->
</div><!-- top_container -->
<script type="text/javascript">
//<![CDATA[
Nifty("*.curved");Nifty("*.curved_top", "top");Nifty("*.curved_bottom", "bottom");
//]]>
</script>


