<div id="top_container">
<div id="header" class="curved_bottom">
<ul id="top_links" class="side_by_side pipes">
	<li class="last"><%= link_to_function 'Logout', 'alert("TODO")' %></li>
</ul>
<div id="logo">SHK - <b>F</b>ormulation <b>A</b>dministration <b>S</b>ystem</div>
</div>
<div class="wrapper" id="body">


